<!DOCTYPE html>
<html>

<head>
    <title>Zoo Keeper</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'zookeeper/styles.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-links">
                <a href="{% url 'animals_list' %}" class="nav-link">Animals</a>
                <a href="{% url 'zoo_map' %}" class="nav-link">Map</a>
                <a href="{% url 'animal_create' %}" class="nav-link">Add Animal</a> {% if user.is_authenticated %} {% if user.is_staff %}
                <a href="{% url 'admin_dashboard' %}" class="nav-link">Admin</a> {% endif %}
                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="nav-link btn-logout">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="nav-link nav-login">Login</a> {% endif %}
            </div>
            <!-- <div class="nav-auth">
               
               
            </div> -->
        </div>
    </nav>
    <main class="main-content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>